.fondoNegro {
    background-color: black;
}

.letraNaranja {
    color: orange;
}

.filaPar {
    background-color: lightgray;
}

.filaImpar {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
}

.primeraFila {
    border-top: 1px solid orange;
}

.ultimaFila {
    border-bottom: 1px solid orange;
}